@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Open+Sans:wght@300&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: steelblue;
  padding: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
}

h1 {
  margin-top: 0;
}

pre code {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 300;
  padding: 1rem !important;
  background: #111 !important;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  background: #eee;
  padding: 4px;
}